# kin-frontend-medical - Environment Variables
NEXT_PUBLIC_API_URL=https://kin-backend-lwmy.onrender.com/api/v1
NEXT_PUBLIC_FRONTEND_NAME=KIN Medical
NEXT_PUBLIC_VERTICAL=medical
NEXT_PUBLIC_FEEDBACK_URL=